.circle {
    background: #456BD9;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 5em;
    width: 5em;
  }


  .circle2 {
    background: #f75252;
    border: 0.1875em solid #0F1C3F;
    border-radius: 50%;
    box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);
    height: 2em;
    width: 2em;
  }
  .outerContainer {
    width: 100%;
    height: 100%;
  }

  .cross {
    background: red;
    height: 160px;
    position: relative;
    width: 10px;
    z-index: -1;
  }
  .cross:after {
    background: red;
    content: "";
    height: 10px;
    left: -75px;
    position: absolute;
    top: 75px;
    width: 160px;
  }